body {
    margin-top: 0;
}

#form {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

#Abstand {
    height: 40px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: lightgreen;
    padding: 0;
    margin: 0;
    font-family: fantasy;
}

#Einleitung {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: Verdana;
}

table {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: Franklin Gothic;
}

td {
    background-color: lightgreen;
    width: 250px;
}

button {
    font-family: Verdana;
}

#BildUnten {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
}
